extends layout

block content
  h1= title
  p Welcome to #{title}

  if user != null
    h2 Your Pantry
    div#foods.dynamic-list(data-url="/api/pantry" data-root="pantry,foods").card-deck
      .card.bg-success.text-light
        .card-body.d-flex.align-items-center.justify-content-center
          a(href="/pantry/add")
            i.far.fa-plus-square.fa-4x
      each food in pantry
        .card
          .card-body
            h4(data-bind="name")= food.name
            p(data-bind="expirationDate")= new Date(food.expirationDate).toLocaleDateString()
            .d-flex
              a.btn.btn-danger(href="/pantry/food/" + food._id + "/delete")
                i.far.fa-trash

    h2 Recommended Recipies
    p DEBUG This API gets expensive fast. Please be nice.
    p DEBUG The system will alert you on the day that your food expires, but for the purposes of testing, I've set it up to trigger a food expired event as soon as a food item is added.  Try adding a food to the pantry above to get an email with suggested foods.
    #suggested-recipies.card-deck
      each recipie in recipies
        .card
          img(src= recipie.image alt=recipie.title).card-img-top
          .card-body
            h5.card-title= recipie.title
            a(href="/recipe/" + recipie.id).btn.btn-primary Make This


