doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  body
    nav.navbar.navbar-light.bg-light
      a.navbar-brand(href="/") 
        span.text-primary Sous
        |Chef
      div
        if user == null
          a(href="/signin").btn.btn-secondary.mr-1 Sign In
          a(href="/signup").btn.btn-primary Sign Up
        else 
          p Welcome #{user.email}
    .container.bg-white.mt-3.p-2
        block content

