extends layout

block content
  form(action="/pantry/add" method="POST")
    h4 Add Food
    .form-group
        label(for="name") Food name
        input.form-control#name(type="text" name="name")
    .form-group
        label(for="expiration-date") Expiration Date
        input.form-control#expiration-date(type="date" name="expirationDate")
    .form-group
        button.btn.btn-primary Submit