extends layout

block content
    h1= recipe.title
    img(src= recipe.image)
    a(href= recipe.spoonacularSourceUrl) View Source

    h2 Ingredients
    .list-group
        each ingredient in recipe.extendedIngredients
            .list-group-item
                .row
                    .col
                        p= ingredient.name
                    .col
                        p= ingredient.amount + ' ' + ingredient.unit
    h2 Directions
    div= recipe.instructions

    //- p= JSON.stringify(recipe)
            