extends layout

block content
    h1 Sign In
    form(action="signin" method="POST")
        .form-group
            label(for="email") Email
            input(type="email" name="email" required)#email.form-control
        .form-group
            label(for="password") Password
            input(type="password" name="password" required)#password.form-control
        .form-group
            button.btn.btn-primary Sign In
