body {
  background: url("/images/kitchen-shelf.jpg");
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#foods {
  flex-wrap: wrap;
}

#foods .card {
  flex-basis: 150px;
}

#suggested-recipies {
  flex-wrap: wrap;
}

#suggested-recipies .card {
  flex-basis: 150px;
}
